.maskBox {
  overflow: hidden;
  background: #FFF;
  -webkit-perspective: 5000px;
  -moz-perspective: 5000px;
  -ms-perspective: 5000px;
  perspective: 5000px;
  height: 165px;
  position: absolute;
  transform: translate(-50%);
  left: 50%;
  top: 143px;
  width: 265px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.oneArmBandit {
  will-change: transform;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently not supported by any browser */
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  transition: transform 6s cubic-bezier(.465, 0.05, 0, 1);
}

.flyBox3d {
  width: 315px;
  height: 390px;
  box-sizing: border-box;
  background: #915841;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  font-weight: bold;
  border: 5px solid white;
  box-shadow: 0 0 20px white;
}

.button {
    width: 100px;
    height: 30px;
    background: lightblue;
    outline: none;
}